@charset "UTF-8";
/* CSS Document */

.item
{
	height:700px;
	background-color:rgba(62, 132, 190, 0.7);
}

.item img
{
	max-height: 700px;
	width:auto;
}

.carousel-caption
{
	background-color:rgba(62, 132, 190, 0.7);
	width:100%;
	bottom:0;
	left:0;
}

.btn-default
{
	position:absolute;
	bottom:5px;
	right:20px;
	background-color:rgba(62, 132, 190, 0.7);
	text-decoration: none;
}

a {
	color:white;
}