@charset "UTF-8";
/* CSS Document */

body {
	font-size: 20px;
	line-height: 1.5;
	background-color:rgb(62, 132, 190);
}

#transcript p
{
	transform: translateY(0%);
}

footer a
{
	padding:5px;
	bottom:10px;
	color: #FFF;
}

.background
{
	width: 100%;
}

.background img {
	height: 700px;
	width:auto;
	margin-left: 95px;
}


#transcript
{
	position: absolute;
	bottom: 0;
	background-color:rgba(62, 132, 190, 0.9);
	margin-left:-13px;
	padding-bottom: 10px;
	color: #FFF;
}

footer
{
	position: absolute;
	bottom: 0;
	color:#FFF;
	text-decoration: none;
	right: 0;
}